html {
  --s: 120px;
  /* control the size */
  --c1: #1658a3;
  --c2: #515981;
  --c3: #7a848b;
  background: conic-gradient(from 150deg at 50% 33%, #0000, var(--c1) .5deg 60deg, #0000 60.5deg) calc(var(--s) / 2) calc(var(--s) / sqrt(2)), conic-gradient(from -30deg at 50% 66%, #0000, var(--c2) .5deg 60deg, var(--c3) 60.5deg);
  background-size: var(--s) calc(.5 * var(--s) / tan(30deg));
}

.navbar ul li a {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background: linear-gradient(45deg, #1658a3, #515981);
  border-radius: 20px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
}

.navbar ul li a:hover {
  background: linear-gradient(45deg, #515981, #1658a3);
  transform: scale(1.1);
}

.btn-green {
  background: linear-gradient(45deg, #28a745, #8ddc8d);
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-green:hover {
  background: linear-gradient(45deg, #8ddc8d, #28a745);
  transform: scale(1.1);
}        

.btn-back{
  
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 15px;
  font-size: 18px;
  text-align: center;
  font-weight: bold;
  transition: transform 0.3s, background-color 0.3s;
  display: inline-block;
  margin: 10px;
  background-color: #e89210;            
}

.btn-back:hover{           
  transform: scale(1.05);
}